body{
    height: 100%;
}

#map{
    height: 500px;
    width: 70%;
    float: left;
}

#list{
    /* height: 500px; */
    width: 28%;
    margin-left: 72%;
    margin-top: -28%;
    float: left;
}

ol li{
    margin-top: 15px;
    white-space: initial;
}